/**

!/.dev
!/.phpcs
!/.phpcs/**
!/.github
!/.github/**

!/modules/
/modules/*
!/modules/mod_bppopup/
!/modules/mod_bppopup/*
!/modules/mod_bppopup/.dev/**

!LICENSE
!README.md
!build.xml
!composer.json
!composer.lock
!.gitignore
!package.json
!package-lock.json
!gulpfile.js
build.properties
!build.properties.dist
!webpack.config.js
